header {
    background: rgba(40, 40, 40, 0.7);
}
header nav ul.menu ul.sub-menu {
    background: rgba(40, 40, 40, 0.7);
}
article {
    box-sizing: border-box;
    width: 70%;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #bdbdbd;
}
article .breadcrumbs {
    color: #b7b7b7;
}
article .header {
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}
article .header h2 {
    margin: 10px 0;
}
article .header span{
    color: #b7b7b7;
}
article .header span.iconfont{
    letter-spacing: 2px;
    font-size: 16px;
}
article .content {
    box-sizing: border-box;
    padding: 10px 0;
}
article .demo-show-wrap{
    padding: 10px;
    border-radius: 5px;
    background: #f8f8f8;
}
article .content img{
    max-width: 100%;
}
article .content h2{
    margin: 20px 0;
    padding-left: 10px;
    background: #f5f5f5;
    border-left: 5px solid #0cf;
    font-size: 18px;
    line-height: 40px;
    color: #292929;
}
article .content .download{
    display: block;
    width: 150px;
    padding: 6px 18px;
    background-color: #5cb85c;
    border: 1px solid #4cae4c;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.42857143;
    text-align: center;
    color: #fff;
}
article .content .case-show{
    display: block;
    width: 150px;
    margin: 20px auto;
    padding: 6px 18px;
    background-color: #5cb85c;
    border: 1px solid #4cae4c;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.42857143;
    text-align: center;
    color: #fff;
}
article .like {
    margin: 20px 0;
    text-align: center;
}
article .like a {
    display: inline-block;
    padding: 10px 20px;
    background: #27c5d5;
    border-radius: 5px;
    color: #fff;
}
article .like a,
article .like a span {
    font-size: 16px;
}
article .share {
    text-align: center;
}
article .share a {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(../images/share.png);
}
article .tab-article {
    margin-top: 50px;
}
article .share a:nth-of-type(1){
    background-position: 0 -98px;
}
article .share a:nth-of-type(2){
    background-position: 0 -65px;
}
article .share a:nth-of-type(3){
    position: relative;
    background-position: 0 -32px;
}
article .share a:nth-of-type(4){
    background-position: 0 0;
}
article .share a:nth-of-type(5){
background-position: 0 -291px;
}
article .share a:hover{
    background-position-X: -24px;
}
article .tab-article .tab-left,
article .tab-article .tab-right {
    margin-top: 10px;
}
/*微信二维码生成*/
#qrcode{
    display: none;
    position: absolute;
    z-index: 99;
    top: 30px;
    left: 50%;
    width: 180px;
    margin-left: -108px;
    padding: 10px;
    background: #fff;
    border: 1px solid #ccc;
    color: #000;
}
#qrcode .icon-close1{
    position: absolute;
    top: 8px;
    right: 8px;
}
#qrcode img{
    display: block;
    margin: 5px auto;
}
#qrcode:after{
    content: "";
    position: absolute;
    top: -11px;
    left: 50%;
    margin-left: 2.5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #ccc transparent;
}
p.mark{
    padding: 15px 0;
    text-align: center;
}
p.mark strong{
    padding-right: 5px;
    font-size: 20px;
}
p.mark a{
    padding: 8px 2px;
}
/*文章页关于作者*/
.article-about-author{
    margin: 20px 0;
}
.article-about-author > img{
    float: left;
    width: 90px;
    height: 90px;
    margin-right: 10px;
}
.article-about-author h2{
    font-size: 16px;
}
.article-about-author p:last-of-type{
    margin-top: 10px;
}
.article-about-author .share-btn a{
    display: inline-block;
    margin-top: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
}
.article-about-author .share-btn a > i{
    margin-right: 3px;
    font-size: 18px;
}
.article-about-author .share-btn a:nth-of-type(1){
    background: #fc8bd2;
}
.article-about-author .share-btn a:nth-of-type(2){
    background: #b663ff;
}
.article-about-author .share-btn a:nth-of-type(3){
    position: relative;
    background: #4cc6fa;
}
.article-about-author .share-btn a:nth-of-type(3) span{
    display: none;
    position: absolute;
    z-index: 100;
    top:-80px;
    left: -177px;
    width: 150px;
    height: 170px;
    padding: 20px 10px 10px;
    background: #b7b7b7;
}
.article-about-author .share-btn a:nth-of-type(3) span:after{
    content: "";
    position: absolute;
    top: 90px;
    right: -10px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #b7b7b7;
}
.article-about-author .share-btn a:nth-of-type(3) span i{
    position: absolute;
    top: 2px;
    right: 0;
    font-size: 24px;
    cursor: pointer;
}
.article-about-author .share-btn a:nth-of-type(4){
    background: #ffb332;
}
.article-about-author .share-btn a:nth-of-type(5){
    background: #49cc5b;
}
/* 表情显示 */
.expression-wrap{
    position: relative;
}
.expression-wrap .comment-icon{
    margin-right: 10px;
    cursor: pointer;
}
.expression-wrap .comment-code-btn-wrap{
    position: relative;
}
.expression-wrap .comment-code-btn-wrap p{
    display: none;
    margin: 10px 0 10px -118px;
    padding: 6px 10px;
    background: #eee;
}
.expression-wrap .comment-code-btn-wrap .comment-code-btn{
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #e8e8e8;
    background: #f8f8f8;
    color: #4cc6fa;
}
.expression-wrap .comment-icon .iconfont{
    margin-right: 3px;
    font-size: 18px;
}
.expression-wrap .expression-hide-wrap{
    display: none;
    position: absolute;
    top: 23px;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 250px;
    border: 1px solid #ccc;
    border-radius: 0 5px 5px 5px;
    background: #fff;
}
.expression-wrap .expression-tab{
    border-bottom: 1px solid #ccc;
}
.expression-wrap .expression-tab li{
    float: left;
    padding: 10px;
    cursor: pointer;
}
.expression-wrap .expression-tab li.on{
    background: #4cc6fa;
    color: #fff;
}
.expression-wrap .expression-img{
    overflow-y: scroll;
    height: 208px;
}
.expression-wrap .expression-img a{
    float: left;
    margin: 8px;
    padding: 20px;
    border-radius: 5px;
    background: #ebebeb;
}
img.wp-smiley, img.emoji{
    width: auto !important;
    height: auto !important;
    max-height: none !important;
}

/*评论区域表单*/
.comment-respond form > p{
    padding: 5px 0;
}
.comment-respond form textarea{
    box-sizing: border-box;
    width: 100%;
    padding:5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.comment-respond form p label{
    display: inline-block;
    width: 100px;
    text-align: right;
    color: #9a9a9a;
    cursor: pointer;
}
.comment-respond form input[type="text"]{
    height: 30px;
    padding-left: 5px;
    border: 1px solid #7e7e7e;
    border-radius: 5px;
}
.comment-respond form input[type="submit"]{
    padding: 10px 15px;
    background: #16c0f8;
    border-radius: 5px;
    color: #fff;
}
/*评论区域评论列表*/
.comments-area{
    position: relative;
    padding-top: 40px;
}
.comment-list{
    margin-top: 50px;
}
.comments-area .url{
    color: #06c0ef;
}
.comments-area .comment-list li{
    margin-top: 10px;
    border-radius: 5px;
}
.comments-area .comment-list .comment-body{
    position: relative;
    border-bottom: 1px solid #e0e0e0;
}
.comments-area .comment-body:hover .reply{
    display: block;
}
/*评论作者*/
.comments-area .comment-author .avatar{
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 15px;
    border-radius: 10px;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}
.comments-area .comment-author .comment-author-url{
    vertical-align: super;
    font-size: 20px;
    font-weight: 600;
}
.comments-area .comment-list .comment-body:hover .avatar{
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}
/*评论内容*/
.comments-area .comment_text img{
    max-width: 70%;
}
.comments-area .comment_text p{
    padding: 20px 0;
    font-size: 18px;
}
/*回复按钮*/
.comments-area .comment-list .reply{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
}
.comments-area .comment-list .reply a{
    display: inline-block;
    margin-left: 5px;
    padding: 2px 10px;
    border-radius: 5px;
    background: #1fd0ff;
    color: #fff;
}
.comments-area .comment-list .reply a:hover{
    border-color: #27c5d5;
}
/*子回复*/
.comments-area .comment-list li.comment{
    padding: 10px 0;
}
.comments-area .comment-list .children{
    padding: 10px 0 10px 40px
}
.comment-respond .comment-form-comment label{
    display: none;
}
/*等级图标*/
.comments-area .comment-list .icon-vip{
    display: inline-block;
    background-image: url(../images/vip.png);
    transition: .5s;
}
/*vip图标样式1*/
.comments-area .comment-list .vip-style-1{
    width: 18px;
    height: 18px;
    background-position-Y: -51px;
}
.comments-area .comment-list .vip-style-1.vip1{
    background-position-X: -35px;
}
.comments-area .comment-list .vip-style-1.vip2{
    background-position-X: -68px;
}
.comments-area .comment-list .vip-style-1.vip3{
    background-position-X: -104px;
}
.comments-area .comment-list .vip-style-1.vip4{
    background-position-X: -138px;
}
.comments-area .comment-list .vip-style-1.vip5{
    background-position-X: -172px;
}
.comments-area .comment-list .vip-style-1.vip6{
    background-position-X: -206px;
}
.comments-area .comment-list .vip-style-1.vip7{
    background-position-X: -241px;
}
/*vip图标样式2*/
.comments-area .comment-list .vip-style-2{
    width: 17px;
    height: 17px;
    background-position-X: -147px;
}
.comments-area .comment-list .vip-style-2.vip1{
    background-position-Y: -70px;
}
.comments-area .comment-list .vip-style-2.vip2{
    background-position-Y: -95px;
}
.comments-area .comment-list .vip-style-2.vip3{
    background-position-Y: -120px;
}
.comments-area .comment-list .vip-style-2.vip4{
    background-position-Y: -145px;
}
.comments-area .comment-list .vip-style-2.vip5{
    background-position-Y: -170px;
}
.comments-area .comment-list .vip-style-2.vip6{
    background-position-Y: -195px;
}
.comments-area .comment-list .vip-style-2.vip7{
    background-position-Y: -220px;
}
/*vip图标样式3*/
.comments-area .comment-list .vip-style-3{
    width: 42px;
    height: 18px;
    background-position-X: -147px;
}
.comments-area .comment-list .vip-style-3.vip1{
    background-position-X: -2px;
}
.comments-area .comment-list .vip-style-3.vip2{
    background-position-X: -64px;
}
.comments-area .comment-list .vip-style-3.vip3{
    background-position-X: -145px;
}
.comments-area .comment-list .vip-style-3.vip4{
    background-position-X: -228px;
}
.comments-area .comment-list .vip-style-3.vip5{
    background-position-X: -332px;
}
.comments-area .comment-list .vip-style-3.vip6{
    background-position-X: -442px;
}
.comments-area .comment-list .vip-style-3.vip7{
    background-position-X: -612px;
}
.comments-area .comment-list .vip-style-3:hover{
    background-position-Y: -23px;
}
/*博主*/
.comments-area .comment-list .icon-vip.icon-admin{
    width: 20px;
    height: 20px;
    margin-left: 5px;
    background-position: -171px -70px;
}
/*验证码*/
.canvas-img-code{
    vertical-align: bottom;
    margin: 0 0 1px -121px;
    border-radius: 0 5px 5px 0;
    background: #fff;
}
.tab-img-code{
    vertical-align: sub;
    margin-left: 10px;
    cursor: pointer;
}
/*评论区翻页按钮*/
.comment-page-btn{
    text-align: right;
}
.comment-page-btn a{
    display: inline-block;
    margin-left: 5px;
    padding: 2px 10px;
    border-radius: 5px;
    background: #1fd0ff;
    color: #fff;
}
/*图片放大*/
.cover{
    display: none;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}
.cover .cover-img,
.cover .cover-img img,
.cover p,
.cover .cover-hide{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.cover .cover-img{
    width: 90%;
    height: 90%;
}
.cover .cover-hide{
    width: 100%;
    height: 100%;
}
.cover .cover-img img{
    display: none;
    max-width: 100%;
    max-height: 100%;
}
.cover p{
    opacity: 0;
    z-index: 99;
    transition: .5s;
    transform: translateY(-30px);
    width: 110px;
    height: 30px;
    padding: 5px;
    background: rgba(152, 152, 152, 0.7);
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    color: #fff;
}
.cover i{
    position: absolute;
    top: 50%;
    width: 40px;
    height: 60px;
    background: rgba(22, 117, 197, 0.3);
    line-height: 60px;
    font-size: 40px;
    color: #fff;
    cursor: pointer;
}
.cover i.icon-menu-left{
    left: 30px;
}
.cover i.icon-menu-right{
    right: 30px;
}
.cover em{
    position: absolute;
    z-index: 99;
    top: 10%;
    right: 30px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}
/*评论头像抖动*/
@-webkit-keyframes bounce {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}

@keyframes bounce {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}
