header {
    background: rgba(40, 40, 40, 0.7);
}
section .left {
    width: 25%;
}
section .right {
    width: 73%;
    box-sizing: border-box;
}
.right article {
    box-sizing: border-box;
    float: left;
    position: relative;
    width: 32%;
    height: 400px;
    margin-bottom: 15px;
    border: 1px solid #efefef;
    border-radius: 5px;
    background: #fff;
    transition: .7s;
}
.right article:nth-of-type(3n-1){
    margin: 0 1.7% 15px;
}
.right article .con {
    padding: 5px;
}
.right article .con .ar-title {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.right article i {
    position: absolute;
    width: 3px;
    height: 3px;
    background: transparent;
    transition: 1s;
}
.right article i.line-top,
.right article iline-left {
    top: 0;
    left: 0;
}
.right article i.line-right,
.right article i.line-bottom {
    bottom: 0;
    right: 0;
}
.right article:hover i.line-top,
.right article:hover i.line-bottom {
    width: 100%;
    height: 3px;
    background: #17a6e8;
}
.right article:hover i.line-right,
.right article:hover i.line-left {
    width: 3px;
    height: 100%;
    background: #17a6e8;
}
.right article a{
    display: block;
}
.right article .article-img img{
    width: 100%;
    height: 175px;
    border-radius: 5px 5px 0 0;
}
.right article .ar-title {
    padding: 5px;
}
.right article p {
    height: 80px;
    padding: 5px;
    text-indent: 16px;
}
.right article .article-more {
    display: inline;
    color: #5fcfed;
}
