@media (max-width:980px){
  .contact .pc-none{
    display: inline-block;
  }
  nav{
    position: absolute;
    top: 179px;
    right: 0;
    width: 300px;
    margin: 0;
    padding-left: 10px;
    background: rgba(40, 40, 40, 0.6);
    transition: .7s;
    transform: translateX(100%);
  }
  nav ul.menu{
    height: auto;
  }
  nav ul.menu > li{
    display: block;
    padding: 0;
  }
  ul.menu > li ul.sub-menu {
    display: none;
    position: static;
    width: 150px;
    margin-left: 30px;
    padding: 0;
    background: none;
    transform: scale(1);
    transition: 0s;
  }
  ul.menu > li ul.sub-menu.bg282828{
    background: none;
  }
  .right-article article{
    width: calc(100% / 2 - 35px);
    padding-bottom: 15px;
  }
}
@media (max-width:780px){
  .mobile-hide{
    display: none;
  }
  header {
    background: rgba(40, 40, 40, 0.6);
  }
  header nav ul.menu ul.sub-menu {
    background: none;
  }
  nav{
    width: 100%;
  }
  nav ul.menu > li{
    text-align: center;
  }
  ul.menu > li ul.sub-menu{
    margin: 0 auto;
  }
  /*文章变成双栏*/
  .main .mobile-article-lg,
  section .mobile-article-lg{
    width: calc(100% / 2 - 35px);
    padding-bottom: 15px;
  }
  section .right{
    float: none;
    width: 90%;
    margin: 0 auto;
  }
  .single-article{
    width: 100%;
  }
}
@media (max-width:600px){
  .contact .mobile-hide{
    display: none;
  }
  .main article div.con{
    padding: 10px;
  }
}
@media (max-width:550px){
  /*文章变成一栏*/
  .main .mobile-article-lg,
  section .mobile-article-lg{
    width: calc(100% / 1 - 35px);
    height: auto;
  }
  .main article div.con p,
  .right article p{
    height: auto;
  }
  .main article .article-img img,
	.right article a img{
		width: auto;
		max-width: 100%;
    height: 1;
		border-radius: 0;
	}
  footer > div .introduce,
  footer > div .link{
    float: none;
    width: 100%;
    margin: 20px 0;
  }
}
@media(max-width: 320px){
  div.head{
    max-width: 85%;
  }
}
