html,
body{
  width: 100%;
  height: 100%;
}
ul.menu > li ul.sub-menu.bg282828{
  background: rgba(43, 43, 43, 0.6);
}
/*首屏背景*/
div.first-screen,
div.first-screen ul.banner,
div.first-screen ul.banner li {
  width: 100%;
  height: 100%;
}
div.first-screen {
  position: relative;
}
div.first-screen .banner {
  background: #ffffff;
}
div.first-screen .banner li:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  background: url(http://file.xuanmomo.com/blog-bg-full.jpg) no-repeat;
  background-size: 100% 100%;
}
div.first-screen .banner li:nth-child(1):before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
}
div.first-screen div.txt {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 97;
  width: 900px;
  height: 400px;
  margin: -180px 0 0 -450px;
  text-align: center;
  color: #ffffff;
}
div.first-screen div.txt p {
  margin-top: 20px;
}
div.first-screen div.txt h1{
  width: 270px;
  height: 60px;
  margin: 50px auto;
  text-indent: -3000px;
  color: transparent;
}
div.first-screen div.txt h1 span{
  display: block;
  width: 270px;
  height: 60px;
  background: url(../images/blog-logo.png) no-repeat;
}
div.first-screen div.txt .more {
  display: block;
  width: 100px;
  margin: 150px auto 0;
  padding: 20px;
  border: 1px solid #fff;
  font-size: 20px;
  color: #ffffff;
}
/*文章区*/
.main {
  box-sizing: border-box;
  width: 100%;
  padding: 30px 10px;
  background: #f5f5f5;
}
.main div.wrap {
  margin-top: 30px;
}
.main .demo-title {
  text-align: center;
}
.main .demo-title h2 {
  display: inline-block;
  margin-bottom: 5px;
  padding: 5px 10px;
  border-bottom: 3px solid #000;
  font-size: 30px;
}
.main .demo-title .more {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  font-size: 18px;
}
.main .demo-title .more i {
  position: absolute;
  bottom: 0;
  left: -1px;
  width: 0;
  border: 1px solid transparent;
  transition: .7s;
}
.main .demo-title .more:hover i {
  width: 100%;
  border-color: #000;
}
.main .article-box{
  max-width: 1180px;
  margin: 0 auto;
}
.main article {
  float: left;
  position: relative;
  top: 0;
  left: 0;
  width: calc(100% / 3 - 30px);
  height: 400px;
  margin: 30px 15px 0;
  padding-bottom: 20px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 3px 5px #ccc;
  transition: .7s;
}
.main article .article-img {
  display: block;
  margin-bottom: 10px;
}
.main article .article-img img {
  width: 100%;
  height: 200px;
  border-radius: 10px 10px 0 0;
}
.main article:hover{
  top: 10px;
}
.main article div.con {
  padding: 10px 20px;
}
.main article .article-title a {
  font-size: 16px;
  line-height: 24px;
}
.main article .article-content {
  text-indent: 16px;
  color: #999999;
}
.main article .article-more {
  position: absolute;
  bottom: 6px;
  right: 10px;
  margin-top: 20px;
  text-align: right;
  color: #5fcfed;
}
